.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000f1f;
  border-top: #1a3b5d 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer .copyright {
  margin: 0;
  font-size: 14px;
  color: #a0afc5;
  font-family: 'Open Sans', sans-serif;
}

.footer .links {
  display: flex;
  align-items: center;
}

.footer .link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #a0afc5;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
}

.footer .link img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}