.home-page {
    background-color: #000f1f;
    min-height: 100vh;
    padding: 20px;
    /* Add padding for better spacing */
  }
  
  .svg-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Adjust spacing as needed */
  }
  
  .post-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .post-card-list {
      grid-template-columns: 1fr; /* Single column on small screens */
    }
  }